*{
  padding: 0;
  margin: 0;
}

.home-screen {
  height: calc(100vh - 80px);
  width: 100%;
}

.home-image-panel {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-panel {
  margin-top: 60px;
  height: 300px;
}

.panel-image {
  height: 300px;
  width: 500px;
  background-attachment: fixed;
  position: relative;
}
