.appointment-screen-body{
    display: flex;
    flex-direction: row;
    padding: 40px;
    overflow: hidden;
}

.date-picker{
width: 300px;
}

.appointment-bar{
    padding: 20px 50px;
    width: 100%;
    overflow: scroll;
    height: 65vh;
}

.notAvailableMessage{
    padding-top: 20px;
    padding-left: 40px;
}